.balance {
    opacity: 1;
    @include transition(opacity .2s ease-in-out);
    &.loading {
        opacity: 0;
    }
}

.total-balance {
    margin-top: 40px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    width: 350px;
    padding: 40px;
    text-shadow: 1px 1px #313131;
    text-align: center;
    &__symbol {
        font-size: 26px;
        font-weight: bold;
    }
    &__amount {
        font-weight: bold;
        font-size: 48px;
    }
}

.rocket {
    font-size: 450px;
    transform: rotate(-45deg);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -1000px;
    @include animation("rocket .8s ease-in-out forwards");
}

.coins {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    .coin {
        flex: 0 1 200px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 0 25px 25px 0;
        padding: 10px;
    }
}


