@import './components/reset.scss';
@import './fonts/fonts.scss';
@import './mixins/mixins.scss';
@import './mixins/animations.scss';
@import './components/menu.scss';
@import './components/main.scss';
@import './components/balance.scss';
body {
    overflow: hidden;
    background: #1d1f25;
    * {
      color: #e6e6e6;
    }
}